#root {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #fff5f7;
}

#root {
  min-height: 100vh;
}