* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
}

.hero {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background: linear-gradient(
  135deg,
  #960751,
  #bb58ae,
  #be185d
);

  text-align: center;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: white;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.hero-text{
  font: 1rem;
  color: white;
}

.hero-button {
  margin-top: 2rem;

  border: none;
  padding: 1rem 2.2rem;
  border-radius: 999px;

  background: white;
  color: #be185d;

  font-size: 1rem;
  font-weight: 700;

  cursor: pointer;

  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.18);
}